{% extends "base.html" %}

{% block content %}
    <div class="text-center">
        <img src="../static/img/kino22.jpg" class="rounded" alt="..." width="100%" >
</div>
{% if fest %}
<div class="text-left">
    <p>
    <h1>
        {{ fest.title }}
    </h1>
    <h4>
        {{ fest.start_date }} - {{ fest.end_date}}
        {{ fest.genres }}
    </h4>
    <h3>
        {{ fest.description }}
    </h3>
    <h3>
        На данном фестивале вы сможете посмотреть:
    </h3>
    <ul>
    {% for film in films %}
        <li>
            <h4>"{{film.title}}"</h4>
        </li>
    # кнопки для перехода в show/film_name
    {% endfor %}
    </ul>
    </p>
</div>
{% endif %}
{% endblock %}