{% extends "base.html" %}

{% block content %}
{% for use in user %}
{% if current_user.name == use.name%}
{% if current_user.surname == use.surname%}
{% if current_user.email == use.email%}
    <div class="text-center">
        <h2>
            Личный кабинет
        </h2>
</div>

<div class="text-left">
    <h2>
        {{ use.name }}
    {{ use.surname }}
    </h2>
</div>
<div class="text-left">
    <h4>
        Информация о пользователе
    </h4>
</div>
<p>
        Электронная почта: {{ use.email }}
    <br>
        Дата рождения: {{ use.date_of_birth }}
</p>
<div class="text-left">
    <h4>
        Педложенные фильмы
    </h4>
</div>
<p>

    <!-- Будет проверка на наличие фильмов в базе данных-->


    Вы не предложили ни одного фильма


</p>
<p>
    <a class="btn btn-dark" href="/">Предложить фильм для кинофестеваля</a>
</p>
{% endif %}
{% endif %}
{% endif %}
{% endfor %}
{% endblock %}