{% extends "base.html" %}

{% block content %}
{% for use in user %}
{% if current_user.name == use.name%}
{% if current_user.surname == use.surname%}
{% if current_user.email == use.email%}
    <div class="text-center">
        <h2>
            Личный кабинет
        </h2>
</div>

<div class="text-left">
    <h2>
        {{ use.name }}
    {{ use.surname }}
    </h2>
</div>
<div class="text-left">
    <h4>
        Информация о пользователе
    </h4>
</div>
<p>
        Электронная почта: {{ use.email }}
    <br>
        Дата рождения: {{ use.date_of_birth }}
</p>
<div class="text-left">
    <h4>
        Педложенные фильмы
    </h4>
    <h5>Когда заканчивается текущий фестиваль все предложенные фильмы автоматически удаляются</h5>
</div>
{% if current_user.id != 1 %}
<p>
    {% if films %}
    <ul>
    {% for film in films %}
    <li>
        {{film.name}}
    </li>
    {% endfor %}
</ul>
    {% else %}
    Вы не предложили ни одного фильма
    {% endif %}
</p>
<p>
    <a class="btn btn-dark" href="/suggest_film">Предложить фильм для кинофестеваля</a>
</p>
{% else %}
<p>
    {% if suggestions %}
    <ul>
    {% for film in suggestions %}
    <li>
        {{film.name}}
    </li>
    {% endfor %}
</ul>
    {% else %}
    Нет предложенных фильмов
    {% endif %}
</p>
<p>
    <a class="btn btn-dark" href="/create_festival">Новый фестиваль</a>
</p>
<p>
    <a class="btn btn-dark" href="/add_film">Новый фильм</a>
</p>
{% endif %}
{% endif %}
{% endif %}
{% endif %}
{% endfor %}
{% endblock %}