{% extends "base.html" %}

{% block content %}
<h1>Добавление фильма к текущему фестивалю</h1>
<form action="" method="post">
    {{ form.hidden_tag() }}
    <p>
        {{ form.title.label }}<br>
        {{ form.title(class="form-control") }}<br>
        {% for error in form.title.errors %}
            <p class="alert alert-danger" role="alert">
                {{ error }}
            </p>
        {% endfor %}
    </p>
    <p>
        {{ form.genres.label }}<br>
        {{ form.genres(class="form-control") }}<br>
        {% for error in form.genres.errors %}
            <p class="alert alert-danger" role="alert">
                {{ error }}
            </p>
        {% endfor %}
    </p>
    <p>
        {{ form.festival.label }}<br>
        {{ form.festival(class="form-control") }}<br>
        {% for error in form.festival.errors %}
            <p class="alert alert-danger" role="alert">
                {{ error }}
            </p>
        {% endfor %}
    </p>
    <p>{{ form.submit(type="submit", class="btn btn-dark") }}</p>
    {{message}}
</form>
{% endblock %}