{% extends "base.html" %}

{% block content %}
<div class="textcols">
	<div class="textcols-item">
		<img src="{{ film.poster }}" class="rounded" alt="..." width="100%" >
	</div>
	<div class="textcols-item">
		<h2>{{ film.ru_name }}</h2>
		<h3>{{ film.name}}</h3>
		<h4>Год: </h4>{{ film.year }}
		<h4>Страны: </h4>{{ film.countries }}
		<h4>Жанры: </h4>{{ film.genres }}
		<h4>Рейтинг на кинопоиске: </h4>{{ film.kp_rate }}
		<h4>Возростной рейтинг: </h4>{{ film.age_rating }}
		<h4>Продолжительность: </h4>{{ film.duration }}
		<h4>Слоган: </h4><h5>{{ film.tagline }}</h5>
		<h4>Описание:</h4>
		{{ film.description }}
	</div>
</div>
{% endblock %}
